<!DOCTYPE html>
{% include 'header.html' %}
<body>
    {% include 'navigation.html' %}

    <div class="container-fluid">
        
        <div class="row mt-5">
            <div class="col-md-2">
                <div class="border-right">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buscar</h5>
                            <p class="error text-danger"></p>
                            <form action="/submitform" method="post" name="form" id="form">
                                <input type="hidden" value= "{{ current_page }}" name="pagina" id="pagina">
                                <div class="mb-3">
                                    <label for="cliente" class="form-label">Cliente</label>
                                    <select name="cliente" id="cliente" class="form-control">
                                        {% for client_id in clients %}
                                        <option value="{{ client_id }}" 
                                        {% if form_fields is defined and form_fields.get('cliente') == client_id  %} selected = "selected"  {% endif %}
                                        
                                        >{{ client_id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3"> 
                                    <label for="fecha_inicial" class="form-label">Fecha Inicial</label>
                                    <input type="text" class="form-control" id="fecha_inicial" name="fecha_inicial" placeholder="yyyy/mm/dd" 
                                    {% if form_fields is defined %} value="{{ form_fields['fecha_inicial'] }}" {% endif %} >
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_final" class="form-label">Fecha Final</label>
                                    <input type="text" class="form-control" id="fecha_final" name="fecha_final" placeholder="yyyy/mm/dd" 
                                    {% if form_fields is defined %} value="{{ form_fields['fecha_final'] }}" {% endif %} >
                                </div>
                                <div class="mb-3">
                                    <label for="nivel_inicial" class="form-label">Nivel Confianza Inicial (%)</label>
                                    <input type="range" class="form-range" id="nivel_inicial_range" name="nivel_inicial" min="0" max="100" step="1"
                                    {% if form_fields is defined %} value="{{ form_fields['nivel_inicial'] }}" {% endif %} oninput="nivel_inicial_output.value = nivel_inicial_range.value">
                                    <input type="text" class="form-control mt-2" id="nivel_inicial_output" readonly value="0%">
                                </div>
                                <div class="mb-3">
                                    <label for="nivel_final" class="form-label">Nivel Confianza Final (%)</label>
                                    <input type="range" class="form-range" id="nivel_final_range" name="nivel_final" min="0" max="100" step="1"
                                    {% if form_fields is defined %} value="{{ form_fields['nivel_final'] }}" {% endif %} oninput="nivel_final_output.value = nivel_final_range.value">
                                    <input type="text" class="form-control mt-2" id="nivel_final_output" readonly value="0%">
                                </div>
                                <div class="mb-3">
                                    <label for="num_periodos" class="form-label"># Días para Pronóstico</label>
                                    <input type="number" class="form-control" id="num_periodos" name="num_periodos" min="1" max="30" placeholder="# Periodos Pronostico"
                                    {% if form_fields is defined %} value="{{ form_fields['num_periodos'] }}" {% endif %} >
                                </div>
                                <button type="submit" class="btn btn_darkblue">Submit</button>
                            </form>
                        </div>
                    </div>

                    
                </div>

                
            </div>
            <div class="col-md-10">
                <div class="row mt-5">
                    <div class="col-4 text-center" id="grf_1">
                        {% if graficas is defined %} 
                        <img src="data:image/png; base64, {{ graficas['grafica1'] }}" class ="img-fluid" > 
                        {% endif %} 
                    </div>        
                    <div class="col-4 text-center" id="grf_2" > {% if graficas is defined %} 
                        <img src="data:image/png; base64, {{ graficas['grafica2'] }}" class ="img-fluid" > 
                        {% endif %} 
                    </div>        
                    <div class="row mt-5">
                        <div class="col-md-4">
                            {% if listas is defined %}
                            <div class="box border p-2" id="grf_3">
                                <p class="text-center font-weight-bold">{{ 'Anomalías Históricas' }}</p>
                                <p class="text-left">{{ listas['lista1'] | replace('\n', '<br>') | safe }}</p>
                            </div>
                            {% endif %} 
                        </div>
                        <div class="col-md-4">
                            {% if listas is defined %}
                            <div class="box border p-2" id="grf_3">
                                <p class="text-center font-weight-bold">{{ 'Anomalías Proyectadas' }}</p>
                                <p class="text-left">{{ listas['lista2'] | replace('\n', '<br>') | safe }}</p>
                            </div>
                            {% endif %} 
                        </div>
                    </div>                   
                <div class="row mt-5 justify-content-center ">
                <div class="col-6">
                    {% if tabla is defined %} 
                    <table class="table mt-5 border">
                        <tbody>
                            {% for label in tabla['labels'] %}
                            <tr>
                                <td class="bg_gray">{{ label }}</td>
                                <td id="info_1">{{ tabla['valor'][loop.index0] }}</td>
                            </tr>
                            {% endfor %}
                           
                            
                        </tbody>
                    </table>
                    {% endif %} 
                </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
<script>
    // Set the initial values for the outputs if they are defined in form_fields
    document.addEventListener("DOMContentLoaded", function() {
        const nivelInicialRange = document.getElementById('nivel_inicial_range');
        const nivelInicialOutput = document.getElementById('nivel_inicial_output');
        const nivelFinalRange = document.getElementById('nivel_final_range');
        const nivelFinalOutput = document.getElementById('nivel_final_output');

        if (nivelInicialRange.value) {
            nivelInicialOutput.value = nivelInicialRange.value + "%";
        }

        if (nivelFinalRange.value) {
            nivelFinalOutput.value = nivelFinalRange.value + "%";
        }
    });

    // Update output values when the ranges change
    document.getElementById('nivel_inicial_range').addEventListener('input', function() {
        document.getElementById('nivel_inicial_output').value = this.value + "%";
    });

    document.getElementById('nivel_final_range').addEventListener('input', function() {
        document.getElementById('nivel_final_output').value = this.value + "%";
    });
</script>
</html>