<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deteccion de Anomalias</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% include 'navigation.html' %}

    <div class="container-fluid">
        
        <div class="row mt-5">
            <div class="col-md-2">
                <div class="border-right">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buscar</h5>
                            <form>
                                <div class="mb-3">
                                    <label for="cliente" class="form-label">Cliente</label>
                                    <select name="cliente" id="cliente" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_inicial" class="form-label">Fecha Inicial</label>
                                    <input type="text" class="form-control" id="fecha_inicial" name="fecha_inicial" placeholder="yyyy/mm/dd">
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_final" class="form-label">Fecha Final</label>
                                    <input type="text" class="form-control" id="fecha_final" name="fecha_final" placeholder="yyyy/mm/dd">
                                </div>          
                                <div class="mb-3">
                                    <label for="nivel_inicial" class="form-label">Nivel Confianza Inicial</label>
                                    <input type="number" class="form-control" id="nivel_inicial" name="nivel_inicial" min="0" placeholder="Nivel Inicial">
                                </div>                       
                                <div class="mb-3">
                                    <label for="nivel_final" class="form-label">Nivel Confianza Final</label>
                                    <input type="number" class="form-control" id="nivel_final" name="nivel_final" min="0" placeholder="Nivel Final">
                                </div>
                                <div class="mb-3">
                                    <label for="num_periodos" class="form-label"># Periodos Pronóstico</label>
                                    <input type="number" class="form-control" id="num_periodos" name="num_periodos" min="0" max="30" placeholder="# Periodos Pronostico">
                                </div>
                                <button type="submit" class="btn btn_darkblue">Submit</button>
                            </form>
                        </div>
                    </div>

                    
                </div>

                <table class="table mt-5 border">
                    <tbody>
                        <!-- Add more label-value pairs as needed -->
                        <tr>
                            <th class="bg_gray">Sector Económico</th>
                            <td id="info_1">Value 1</td>
                        </tr>
                        <tr>
                            <th class="bg_gray">Consumo de energía activa</th>
                            <td id="info_2">Value 2</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
            <div class="col-md-10">
                <div class="row mt-5">
                    <div class="col-4 text-center" id="grf_1">grf_1</div>        
                    <div class="col-4 text-center" id="grf_2" >grf_2</div>             
                </div>
                <div class="row mt-5">
                    <div class="col-4 text-center" id="grf_3">grf_3</div>        
                    <div class="col-4 text-center" id="grf_4"> grf_4</div>        
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>